<!DOCTYPE html>
<html>
<head>
  <title>Pragprog Books Online Store</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>
	<div id="banner">
		<%= image_tag("/images/logo.png") %>
		<%= @page_title || "Pragmatic Bookshelf" %>
		<% if session[:counter] >= 5 %>
			<span class="counter"><%= pluralize(session[:counter], 'view') %></span>
		<% end %>
	</div>
	<div id="columns">
		<div id="side">
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">Questions</a></li>
				<li><a href="#">News</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
			<ul class="time">
				<li><%= Time.now.strftime("Current time: %I:%M") %></li>
			</ul>	
		</div>
		<div id="main">
			<%= yield %>
		</div>
	</div>
</body>
</html>
